<html lang="en">
<head>
    <title>Doctor Home</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery.min.js"></script> 
	<script type="text/javascript" charset="utf-8"> 
		$(document).on('click', '.panel-heading span.clickable', function(e){
			var $this = $(this);
			if(!$this.hasClass('panel-collapsed')) {
				$this.parents('.panel').find('.panel-body').slideUp();
				$this.addClass('panel-collapsed');
				$this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
			} else {
				$this.parents('.panel').find('.panel-body').slideDown();
				$this.removeClass('panel-collapsed');
				$this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
			}
		}) 
	</script>

</head>
<body>
<div class = "container">   
	<div class = "row"> 
		<div class "col-xs-12"> 
			<div class = "page-header">
				{% if user.is_anonymous %}
					<a href="{% url 'django.contrib.auth.views.login' %}">login</a>
				{% else %}   
					<h1> Welcome, Dr. {{user.first_name}} {{user.last_name}} </h1>  
			</div> 
		</div> 
	</div> 
	<div class = "row">
		<div class = "col-xs-12">
			<!--Main Content-->
			<div class = "panel panel-primary">
				<div class = "panel-heading">
					<h3 class="panel-title">Patient List</h3> 
					<span class="pull-right clickable" style="margin-top: -20px; font-size: 15px;"><i class="glyphicon glyphicon-chevron-up"></i></span>
				</div>
				<div class = "panel-body">  				
					{% if patient_list %}
					<table class="table table-striped">
						<thead>
							<tr>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Department</th> 
								<th>Medical History</th>
								<th>Details</th> 
							</tr>
						</thead>
						<tbody> 
							{% for patient in patient_list %}  
								{% if patient.primaryCareProvider.id == user.doctor.id %} 
								<tr> 
								  <td>{{patient.first_name}}</td>
								  <td>{{patient.last_name}}</td>
								  <td>{{patient.department}}</td> 
								  <td> {{patient.medical_History}}</td>
								  <td><a href="{%url 'patdetail' patient.id%}">
									<span class="glyphicon glyphicon-info-sign" style="margin-top: 3px; aria-hidden="true"></span> 
							      </a></td>
								</tr>  
								{% endif %}
							{% endfor %}
						</tbody>
					</table> 
					{% else %}
						<p>No assigned patients.</p>
					{% endif %} 
				</div>
			</div>
		</div>
	</div>  
	<div class = "row">
			<div class = "col-xs-12">
				<!--Main Content-->
				<div class = "panel panel-primary">
					<div class = "panel-heading">
						<h3 class="panel-title">Appointments</h3> 
						<span class="pull-right clickable" style="margin-top: -20px; font-size: 15px;"><i class="glyphicon glyphicon-chevron-up"></i></span>
					</div>
					<div class = "panel-body">  
						<a href= "{%url 'create_doc_appt' user.doctor.id%}"> Add Appointment </a></br></br> 
							{% if user.doctor.appointment_set %}
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Patient Name</th>
										<th>Start Time</th>
										<th>End Time</th> 
										<th>Purpose</th> 
										<th> </th> 
										<th> </th>
									</tr>
								</thead>
								<tbody> 
								{% for appointment in user.doctor.appointment_set.all %}   
									{% if appointment.billed %}  
									{% else %}    
									<tr> 
										<td>{{appointment.patient.first_name}} {{appointment.patient.last_name}}</td>
										<td>{{appointment.startTime}}</td>
										<td>{{appointment.endTime}}</td>   
										<td>{{appointment.purpose}}</td>
										<!--Appointment month is after this month -->
										{% if appointment.startTime.month > today.month  %} 
											<td><a href="{%url 'change_appt' appointment.id%}">Change Appointment</a></td>  
											<td><a href="{%url 'delete_appt' appointment.id%}" onclick="return confirm('Are you sure you want to delete?')">
												<span class="glyphicon glyphicon-remove-sign" style="margin-top: 3px; aria-hidden="true"></span> 
											</a></td>  
											
											
										{% else %}  
											<!--Appointment Month is this month-->
											{% if appointment.startTime.month = today.month %}
												{% if appointment.startTime.day > today.day %} 
													<td><a href="{%url 'change_appt' appointment.id%}">Change Appointment</a></td>
													<td><a href="{%url 'delete_appt' appointment.id%}" onclick="return confirm('Are you sure you want to delete?')">
													<span class="glyphicon glyphicon-remove-sign" style="margin-top: 3px; aria-hidden="true"></span> 
													</a></td>  
												{% else %}  
													<td><a href="{%url 'bill_appt' appointment.id%}">End Treatment</a></td>   
													<td> </td>
												{% endif %}
											<!--Appointment month is past -->
											{% else %} 
												<td><a href="{%url 'bill_appt' appointment.id%}">End Treatment</a></td>   
												<td> </td>  
											{% endif %}
										{% endif %} 
										</tr> 
									{% endif %}    
								{% endfor %}  
								</tbody>
							</table> 
							{% else %}
							<p>No Scheduled Appointments.</p>
						{% endif %} 
					</div> 
				</div> 
			</div> 
		</div> 
	<div class = "row">
			<div class = "col-xs-12">
				<!--Main Content-->
				<div class = "panel panel-primary">
					<div class = "panel-heading">
						<h3 class="panel-title">Completed & Billed Appointments</h3> 
						<span class="pull-right clickable" style="margin-top: -20px; font-size: 15px;"><i class="glyphicon glyphicon-chevron-up"></i></span>
					</div>
					<div class = "panel-body">  
							{% if user.doctor.appointment_set %}
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Patient Name</th>
										<th>Start Time</th>
										<th>End Time</th> 
										<th>Purpose</th> 
									</tr>
								</thead>
								<tbody> 
								{% for appointment in user.doctor.appointment_set.all %}  
									{% if appointment.billed %}
									<tr> 
										<td>{{appointment.patient.first_name}} {{appointment.patient.last_name}}</td>
										<td>{{appointment.startTime}}</td>
										<td>{{appointment.endTime}}</td>   
										<td>{{appointment.purpose}}</td>  
									</tr> 
									{% endif %} 
								{% endfor %}  
								</tbody>
							</table> 
							{% else %}
							<p>No Scheduled Appointments.</p>
						{% endif %} 
					</div> 
				</div> 
			</div> 
		</div> 
		<div class = "row">
		<div class = "col-xs-12">
			<!--Main Content-->
			<div class = "panel panel-primary">
				<div class = "panel-heading">
					<h3 class="panel-title">My Paycheck</h3> 
					<span class="pull-right clickable" style="margin-top: -20px; font-size: 15px;"><i class="glyphicon glyphicon-chevron-up"></i></span>
				</div>
				<div class = "panel-body"> 
					<a href= "{% url 'pdfDoc' user.doctor.id %}">View Most Recent Paycheck</a></br>
				</div>
			</div>
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-12">
			<!--Main Content-->
			<div class = "panel panel-primary">
				<div class = "panel-heading">
					<h3 class="panel-title">Account Management</h3> 
					<span class="pull-right clickable" style="margin-top: -20px; font-size: 15px;"><i class="glyphicon glyphicon-chevron-up"></i></span>
				</div>
				<div class = "panel-body"> 
					<a href= "{% url 'password_change' %}">Change Password</a></br>
					<a href="{% url 'edit_doctor' user.doctor.id %}">Edit My Profile</a> </br>
					<a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
					<br/>
					{% endif %} 
					
				</div>
			</div>
		</div>
	</div>
 </div>
</body>
</html>