<html lang="en">
<head>
    <title>Bill Paid</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery.min.js"></script>

</head> 
<body>
<div class = "container">   
	<div class = "row">   
		</br>
	</div>  
		<div class = "row">
		<div class "col-xs-12"> 
			<div class = "panel panel-primary">  
				<div class = "panel-heading">
					<h3 class='panel-title'> Congratulations! You Paid! </h3> 
				</div> 
				<!--<div class = "panel-heading">
					<h3 class='panel-title'> Bill Detail </h3> 
				</div> -->
				<div class = "panel-body">   
					<div>  
					 <!--<table> 
						 <tbody>   
							<tr>  
								<th> Due Date:    </th> 
								<th> {{bill.dueDate}} </th>
							</tr> 
							<tr>  
								<th> Amount ($)    </th> 
								<th> {{bill.amount}} </th>
							</tr> 
							<tr>  
								<th> Appointment:    </th> 
								<th> {{bill.appointment}} </th>
							</tr> 
							<tr>  
								<th> Due Date:    </th> 
								<th> {{bill.dueDate}} </th>
							</tr>
						
						 </tbody> 
					 </table> -->
					 <a href="../HMS/home" class="btn btn-default" role="button">Back to Homepage</a>
					</div>
				</div>
			</div> 
		</div> 
	</div> 
</div>

<script type="text/javascript">
	document.getElementById("id_instructors").value = "{{ user.email }}";
</script>
<!--<div class="clear"></div>-->

</html>