<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html> 
    <head> 
        <title>Patient Home</title>  
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
			
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="http://code.jquery.com/jquery.min.js"></script>
	
		<script type="text/javascript" charset="utf-8"> 
		$(document).on('click', '.panel-heading span.clickable', function(e){
			var $this = $(this);
			if(!$this.hasClass('panel-collapsed')) {
				$this.parents('.panel').find('.panel-body').slideUp();
				$this.addClass('panel-collapsed');
				$this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
			} else {
				$this.parents('.panel').find('.panel-body').slideDown();
				$this.removeClass('panel-collapsed');
				$this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
			}
		}) 
		</script>
        <script type="text/javascript" charset="utf-8">  
		
           function filterContent() {
				var user = document.getElementById("myDropdown").value;  
				var contentAA = document.getElementById("ALL");
				var contentA = document.getElementById("PED");
				var contentB = document.getElementById("ONC");
				var contentC = document.getElementById("FAM");
				var contentD = document.getElementById("EME");
				var contentE = document.getElementById("ORT"); 
				if(user=="AA") {  
					contentAA.style.display="block";
					contentA.style.display="none";
					contentB.style.display="none";
					contentC.style.display="none";
					contentD.style.display="none";
					contentE.style.display="none";
				} 
				if (user=="A") { 
					contentAA.style.display="none";
					contentA.style.display="block";
					contentB.style.display="none";
					contentC.style.display="none";
					contentD.style.display="none";
					contentE.style.display="none";
				}else if (user=="B") {
					contentAA.style.display="none";
					contentA.style.display="none";
					contentB.style.display="block";
					contentC.style.display="none";
					contentD.style.display="none";
					contentE.style.display="none";
				} else if (user=="C") {
					contentAA.style.display="none";
					contentA.style.display="none";
					contentB.style.display="none";
					contentC.style.display="block";
					contentD.style.display="none";
					contentE.style.display="none";
				} else if (user=="D") {
					contentAA.style.display="none";
					contentA.style.display="none";
					contentB.style.display="none";
					contentC.style.display="none";
					contentD.style.display="block";
					contentE.style.display="none";
				} else if (user=="E") {
					contentAA.style.display="none";
					contentA.style.display="none";
					contentB.style.display="none";
					contentC.style.display="none";
					contentD.style.display="none";
					contentE.style.display="block";
				}
			}
        </script> 

	</head>  

    <body>  
	<div class = "container">   
		<div class = "row"> 
			<div class "col-xs-12"> 
				<div class = "page-header">	
					{% if user.is_anonymous %}
						<a href="{% url 'django.contrib.auth.views.login' %}">login</a>
					{% else %}   
						<h1> Welcome, {{user.first_name}} {{user.last_name}} </h1>  
					{% endif %}
				</div> 
			</div> 
		</div>  
		<div class = "row">
			<div class = "col-xs-12">
				<div class = "panel panel-primary">
					<div class = "panel-heading">
						<h3 class="panel-title">My Information</h3> 
						<span class="pull-right clickable" style="margin-top: -20px; font-size: 15px;"><i class="glyphicon glyphicon-chevron-up"></i></span>
					</div>
					<div class = "panel-body"> 
						<div> 
							<p> Primary Care Provider: Dr. {{user.patient.primaryCareProvider.first_name}} {{user.patient.primaryCareProvider.last_name}} </br> 
							Department: {{user.patient.department}} </br>
							<a href="{% url 'change_PCP' user.patient.id %}">Select Primary Care Provider</a> </br>
							</p>
						</div>	
					</div> 
				</div> 
			</div> 
		</div>
		<div class = "row">
			<div class = "col-xs-12">
				<!--Main Content-->
				<div class = "panel panel-primary">
					<div class = "panel-heading">
						<h3 class="panel-title">Doctor List</h3>  
						<span class="pull-right clickable" style="margin-top: -20px; font-size: 15px;"><i class="glyphicon glyphicon-chevron-up"></i></span>
						<label for="specialty">Filter by Specialty: </label>
						<select style="color:BLACK" id="myDropdown" onchange="filterContent();">
							<option style="color:BLACK" value="AA">All Specialties</option>
							<option style="color:BLACK" value="A">Pediatrics</option>
							<option style="color:BLACK" value="B">Oncology</option>
							<option style="color:BLACK" value="C">Family Practice</option>
							<option style="color:BLACK" value="D">Emergency</option>
							<option style="color:BLACK" value="E">Orthopedics</option>
						</select>
					</div> 
					<div class ="panel-body">  
 
						{% if doctor_list %} 
							<div id = "ALL">  
								<table class="table table-striped" id="t1">
									<thead>
										<tr>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Department</th> 
											<th>Years Experience</th> 
											<th>Degree</th>
											<th>Details</th>
										</tr>
									</thead> 
									<tbody>
										{% for doctor in doctor_list %} 
												<tr> 
													<td>{{doctor.first_name}}</td>
													<td>{{doctor.last_name}}</td>
													<td>{{doctor.specialty}}</td> 
													<td> {{doctor.years_experience}}</td>
													<td> {{doctor.degree}} </td>  
													<td><a href="{%url 'docdetail' doctor.id%}">
														<span class="glyphicon glyphicon-info-sign" style="margin-top: 3px; aria-hidden="true"></span> 
													</a></td>
												</tr>
										{% endfor %} 
									</tbody> 
								</table>
							</div>
							<div id="PED" style="display:none">   
								<table class="table table-striped" id="t1">
									<thead>
										<tr>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Department</th> 
											<th>Years Experience</th> 
											<th>Degree</th>
											<th>Details</th>
										</tr>
									</thead> 
									<tbody>
										{% for doctor in doctor_list %} 
											{% if doctor.specialty == "PED" %} 
												<tr> 
													<td>{{doctor.first_name}}</td>
													<td>{{doctor.last_name}}</td>
													<td>{{doctor.specialty}}</td> 
													<td> {{doctor.years_experience}}</td>
													<td> {{doctor.degree}} </td>  
													<td><a href="{%url 'docdetail' doctor.id%}">
														<span class="glyphicon glyphicon-info-sign" style="margin-top: 3px; aria-hidden="true"></span> 
													</a></td>
												</tr>
											{% endif %}
										{% endfor %} 
									</tbody> 
								</table>
							</div>
							<div id="ONC" style="display:none">  
								<table class="table table-striped" id="t2">
									<thead>
										<tr>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Department</th> 
											<th>Years Experience</th> 
											<th>Degree</th>
											<th>Details</th>
										</tr>
									</thead>  
									<tbody>
										{% for doctor in doctor_list %}
											{% if doctor.specialty == "ONC" %}
												<tr>
													<td>{{doctor.first_name}}</td>
													<td>{{doctor.last_name}}</td>
													<td>{{doctor.specialty}}</td> 
													<td> {{doctor.years_experience}}</td>
													<td> {{doctor.degree}} </td>  
													<td><a href="{%url 'docdetail' doctor.id%}">
														<span class="glyphicon glyphicon-info-sign" style="margin-top: 3px; aria-hidden="true"></span> 
													</a></td>
												</tr>
											{% endif %}
										{% endfor %} 
									</tbody> 
								</table>
							</div>
							<div id="FAM" style="display:none">   
								<table class="table table-striped" id="t1">
									<thead>
										<tr>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Department</th> 
											<th>Years Experience</th> 
											<th>Degree</th>
											<th>Details</th>
										</tr>
									</thead> 
									<tbody>
										{% for doctor in doctor_list %} 
											{% if doctor.specialty == "FAM" %} 
												<tr> 
													<td>{{doctor.first_name}}</td>
													<td>{{doctor.last_name}}</td>
													<td>{{doctor.specialty}}</td> 
													<td> {{doctor.years_experience}}</td>
													<td> {{doctor.degree}} </td>  
													<td><a href="{%url 'docdetail' doctor.id%}">
														<span class="glyphicon glyphicon-info-sign" style="margin-top: 3px; aria-hidden="true"></span> 
													</a></td>
												</tr>
											{% endif %}
										{% endfor %} 
									</tbody> 
								</table>
							</div> 
							<div id="EME" style="display:none">  
								<table class="table table-striped" id="t1">
									<thead>
										<tr>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Department</th> 
											<th>Years Experience</th> 
											<th>Degree</th>
											<th>Details</th>
										</tr>
									</thead> 
									<tbody>
										{% for doctor in doctor_list %} 
											{% if doctor.specialty == "EME" %} 
												<tr> 
													<td>{{doctor.first_name}}</td>
													<td>{{doctor.last_name}}</td>
													<td>{{doctor.specialty}}</td> 
													<td> {{doctor.years_experience}}</td>
													<td> {{doctor.degree}} </td>  
													<td><a href="{%url 'docdetail' doctor.id%}">
														<span class="glyphicon glyphicon-info-sign" style="margin-top: 3px; aria-hidden="true"></span> 
													</a></td>
												</tr>
											{% endif %}
										{% endfor %} 
									</tbody> 
								</table>
							</div>
							<div id="ORT" style="display:none">  
								<table class="table table-striped" id="t1">
									<thead>
										<tr>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Department</th> 
											<th>Years Experience</th> 
											<th>Degree</th>
											<th>Details</th>
										</tr>
									</thead> 
									<tbody>
										{% for doctor in doctor_list %} 
											{% if doctor.specialty == "ORT" %} 
												<tr> 
													<td>{{doctor.first_name}}</td>
													<td>{{doctor.last_name}}</td>
													<td>{{doctor.specialty}}</td> 
													<td> {{doctor.years_experience}}</td>
													<td> {{doctor.degree}} </td>  
													<td><a href="{%url 'docdetail' doctor.id%}">
														<span class="glyphicon glyphicon-info-sign" style="margin-top: 3px; aria-hidden="true"></span> 
													</a></td>
												</tr>
											{% endif %}
										{% endfor %} 
									</tbody> 
								</table>
							</div>  
						{% else %}
							<p>No doctors available.</p>
						{% endif %}   
					</div> 
				</div> 
			</div> 
		</div>  
		<div class = "row">
			<div class = "col-xs-12">
				<!--Main Content-->
				<div class = "panel panel-primary">
					<div class = "panel-heading">
						<h3 class="panel-title">Appointments</h3> 
						<span class="pull-right clickable" style="margin-top: -20px; font-size: 15px;"><i class="glyphicon glyphicon-chevron-up"></i></span>
					</div>
					<div class = "panel-body">  
						<a href= "{%url 'create_pat_appt' user.patient.id%}"> Add Appointment </a></br></br> 
						{% if user.patient.appointment_set %} 
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Doctor Name</th>
										<th>Start Time</th>
										<th>End Time</th>  
										<th>Purpose</th>
										<th>Edit</th> 
										<th>Delete</th>
									</tr>
								</thead>
								<tbody> 
								{% for appointment in user.patient.appointment_set.all %} 
									{% if appointment.startTime.month > today.month  %} 
										<tr> 
											<td>Dr. {{appointment.doctor.first_name}} {{appointment.doctor.last_name}}</td>
											<td>{{appointment.startTime}}</td>
											<td>{{appointment.endTime}}</td>  
											<td>{{appointment.purpose}}</td>
											<td><a href="{%url 'change_appt' appointment.id%}">
												<span class="glyphicon glyphicon-pencil" style="margin-top: 3px; aria-hidden="true"></span> 
											</a></td>
											<td><a href="{%url 'delete_appt' appointment.id%}" onclick="return confirm('Are you sure you want to delete?')">
												<span class="glyphicon glyphicon-remove-sign" style="margin-top: 3px; aria-hidden="true"></span> 
											</a></td>
										</tr>  
									{% else %}  
										<!--Appointment Month is this month-->
										{% if appointment.startTime.month = today.month %}
											{% if appointment.startTime.day > today.day %} 
												<tr>
													<td>Dr. {{appointment.doctor.first_name}} {{appointment.doctor.last_name}}</td>
													<td>{{appointment.startTime}}</td>
													<td>{{appointment.endTime}}</td>  
													<td>{{appointment.purpose}}</td>
													<td><a href="{%url 'change_appt' appointment.id%}">
														<span class="glyphicon glyphicon-pencil" style="margin-top: 3px; aria-hidden="true"></span> 
													</a></td>
													<td><a href="{%url 'delete_appt' appointment.id%}" onclick="return confirm('Are you sure you want to delete?')">
														<span class="glyphicon glyphicon-remove-sign" style="margin-top: 3px; aria-hidden="true"></span> 
													</a></td>   
												</tr>
											{% endif %}  
										{% endif %}
									{% endif %} 
								{% endfor %}
								</tbody>
							</table> 
							{% else %}
							<p>No Scheduled Appointments.</p>
						{% endif %} 
					</div> 
				</div> 
			</div> 
		</div> 
		<div class = "row">
			<div class = "col-xs-12">
				<!--Main Content-->
				<div class = "panel panel-primary">
					<div class = "panel-heading">
						<h3 class="panel-title">Past Appointments</h3> 
						<span class="pull-right clickable" style="margin-top: -20px; font-size: 15px;"><i class="glyphicon glyphicon-chevron-up"></i></span>
					</div>
					<div class = "panel-body">  
						{% if user.patient.appointment_set %} 
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Doctor Name</th>
										<th>Start Time</th>
										<th>End Time</th>  
										<th>Purpose</th>
									</tr>
								</thead>
								<tbody> 
								{% for appointment in user.patient.appointment_set.all %} 
									{% if appointment.startTime.month > today.month  %}  
									{% else %}  
										<!--Appointment Month is this month-->
										{% if appointment.startTime.month = today.month %}
											{% if appointment.startTime.day > today.day %} 
											{% else %} 
												<tr> 
													<td>Dr. {{appointment.doctor.first_name}} {{appointment.doctor.last_name}}</td>
													<td>{{appointment.startTime}}</td>
													<td>{{appointment.endTime}}</td>  
													<td>{{appointment.purpose}}</td>
												</tr> 
											{% endif %}   
										{% else %} 
											<tr>
												<td>Dr. {{appointment.doctor.first_name}} {{appointment.doctor.last_name}}</td>
												<td>{{appointment.startTime}}</td>
												<td>{{appointment.endTime}}</td>  
												<td>{{appointment.purpose}}</td> 
											</tr> 
										{% endif %}
									{% endif %} 
								{% endfor %}
								</tbody>
							</table> 
							{% else %}
							<p>No Scheduled Appointments.</p>
						{% endif %} 
					</div> 
				</div> 
			</div> 
		</div>
		<div class = "row">
			<div class = "col-xs-12">
				<div class = "panel panel-primary">
					<div class = "panel-heading">
						<h3 class="panel-title">Billing</h3> 
						<span class="pull-right clickable" style="margin-top: -20px; font-size: 15px;"><i class="glyphicon glyphicon-chevron-up"></i></span>
					</div>
					<div class = "panel-body"> 
						<div> 
							{% if user.patient.bill_set %}
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Release Date</th> 
										<th>Due Date</th>
										<th>Amount ($)</th>
										<th>Appointment</th> 
										<th>Status </th> 
										<th></th>
									</tr>
								</thead>
								<tbody> 
								{% for bill in user.patient.bill_set.all %}  
									{% if bill.released %}
									<tr> 
									  <td>{{bill.releaseDate}}</td> 
									  <td>{{bill.dueDate}}</td>
									  <td>{{bill.amount}}</td>
									  <td>{{bill.appointment}}</td>  
									  <td>{{bill.status}}</td>  
									  {% if bill.status == "Paid" %}  
										<td><a href="{% url 'pdfgen' user.patient.id%}">
											<span class="glyphicon glyphicon-circle-arrow-down" style="margin-top: 3px; aria-hidden="true"></span>  
											Invoice
										</a></td>
									  {% else %}   
										<td><a href="{% url 'pay_bill' bill.id %}">
											<span class="glyphicon glyphicon-credit-card" style="margin-top: 3px; aria-hidden="true"></span> 
											Pay
										</a></td>
									  {% endif %}
									</tr>    
									{% endif %} 
								{% endfor %}
								</tbody>
							</table>  
							{% else %} 
							<p> No bills </p> 
							{% endif %}
						</div>	
					</div> 
				</div> 
			</div> 
		</div>
		<div class = "row">
			<div class = "col-xs-12">
				<div class = "panel panel-primary">
					<div class = "panel-heading">
						<h3 class="panel-title">Account Management</h3> 
						<span class="pull-right clickable" style="margin-top: -20px; font-size: 15px;"><i class="glyphicon glyphicon-chevron-up"></i></span>
					</div>
					<div class = "panel-body"> 				
						<a href= "{% url 'password_change' %}">Change Password</a></br> 
						<a href = "{% url 'medical_history' %}">Edit my Medical History</a></br>
						<a href="{% url 'change_Patient' %}">Edit My Profile</a> </br>
						<a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a> 
					</div> 
				</div> 
			</div> 
		</div>
	</div>
    </body> 
</html>
